.searchBtn{
    background-image: linear-gradient(rgb(52, 124, 233),rgb(38, 132, 240));
    color: whitesmoke;
}
.searchBtn:hover{
    color: white;
}
.searchBtn:active{
    border: 1px transparent;
    color: white;
}
.input-field{
    border: 1px transparent white;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    margin-left: 1rem;
    margin-right: 1rem;
}
@media screen and (max-width: 576px) {
    .productSpecific{

    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .productSpecific{

    }
}

@media (min-width: 768px) and (max-width: 991px){
    .productSpecific{

    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .productSpecific{

    }
}

@media screen and (min-width: 1201px){
    .productSpecific{
        display: flex;
        justify-content: center;
    }
    .productSpecificRow{
        width: 700px;
    }
}