@media screen and (max-width: 576px) {
    
}

@media (min-width: 577px) and (max-width: 767px) {
    
}

@media (min-width: 768px) and (max-width: 992px) {
    
}

@media (min-width: 993px) and (max-width: 1200px) {
    
}

@media screen and (min-width: 1201px){
    .nav-content{
        width: 100%;
        display: flex;
        justify-content: end;
    }
    .navbar .container-fluid{
        margin-right: 10%;
        margin-left: 10%;
    }
    .nav-content a{
        margin-left: 1.1rem;
        margin-right: 1.1rem;
        font-weight: 600;
    }


}