.input-field{
    border: 1px transparent white;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.div-dash{
    border: 1px transparent black;
    width: 30px;
    height: 30px;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 4px;
    cursor: pointer;
}
.div-plus{
    border: 1px transparent black;
    width: 30px;
    height: 30px;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 4px;
    cursor: pointer;
}
