
@media screen and (max-width: 576px) {
    .loginContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .loginImgDiv{
        height: 400px;
        width: auto;
        margin-left: 2rem;
    }
    .loginCardContainer{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .loginContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .loginImgDiv{
        height: 400px;
        width: auto;
        margin-left: 2rem;
    }
    .loginCardContainer{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .loginContainer{
        display: flex;
    }
    .loginImgDiv{
        height: 400px;
        width: 100%;
        margin-left: 2rem;
    }
    .loginCardContainer{
        width: 800px;
        height: 100%;
        margin-left: 5rem;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) {
    .loginContainer{
        height: 100vh;
        display: flex;
        justify-content: center;
    }
    .loginCardContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loginImgDiv{
        height: 100%;
        width: auto;
        margin-left: 5rem;
    }
}
